<style>
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f2f2f2;
    line-height: 1.6;
}

/* HEADER */

header{
    background:#1f3c88;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    background:#4066d4;
    padding:8px 14px;
    margin:5px;
    border-radius:6px;
    display:inline-block;
}

nav a:hover{
    background:#2a4bb8;
}

/* MAIN */

main{
    max-width:900px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

img{
    width:100%;
    max-width:400px;
    display:block;
    margin:15px auto;
    border-radius:8px;
}

/* TABLEAU */

table{
    width:100%;
    border-collapse:collapse;
    margin:20px 0;
}

th{
    background:#1f3c88;
    color:white;
}

th, td{
    border:1px solid #333;
    padding:8px;
    text-align:center;
}

/* FORMULAIRE */

form{
    max-width:400px;
    margin:auto;
}

label{
    font-weight:bold;
}

input, textarea{
    width:100%;
    padding:8px;
    margin:5px 0;
    border-radius:5px;
    border:1px solid #aaa;
}

input[type="submit"]{
    background:#1f3c88;
    color:white;
    border:none;
    cursor:pointer;
}

input[type="submit"]:hover{
    background:#4066d4;
}

/* FOOTER */

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:20px;
}
</style>
