body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f2f2f2 ;
    line-height:1.6;
}
header{
    background-color: #1f3c88;
    color: white;
    padding: 20px;
    text-align: center;
}
h1{
    margin-bottom:10px ;
}
nav{
    margin-top: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 8px;
    padding: 6px 12px;
    background: #4066d4;
    border-radius: 5px;

}
nav a:hover{
    background:#2a4bb8;
}
section{
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}
img{
    max-width: 100%;
    border-radius: 8px; 
}
ul{
    padding-left: 20px;
}
li{
    margin: 5px 0;
}
iframe{
    width: 100%;
    margin-top: 10px;
}
th{
    background:#1f3c88 ;
    color: white;
}
th, td{
    border: 1px solid #333;
}
tfoot{
    background: #ddd;
}
form{
    max-width: 500px;
    margin: auto;
}
label{
    font-weight: bold;
}
input , select , textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #aaa;
}
input[type="submit"]:hover{
    background:  #4066d4;
}
video, audio {
    display: block;
    margin: 10px auto;
}
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
footer a {
    color:#ffd700 ;
    text-decoration: none;
}